python-dotenv
pandas
numpy
pymongo
certifi
pymongo[srv]
scikit-learn
dill  # used to save and load python objects
pyyaml # used to read  and write yaml files
xgboost
fastapi
uvicorn
ipykernel
apache-airflow
mlflow
dvc
jinja2
python-multipart

-e .